.tooltip {
  position: relative;
}

.tooltip > button.ui-button[data-desc]:focus::after {
  content: attr(data-desc);
  position: absolute;
  top: 30px;
  left: -50%;
  text-align: left;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: white;
  padding: 10px;
  color: black;
  font-size: 12px;
  z-index: 10;
}
